;; Type bb tasks to see all tasks
;; Type bb <task-name> or bb run <task-name> to run a task
{:min-bb-version "0.5.1"
 :paths ["script"]
 :deps {amperity/vault-clj {:local/root "."}}
 :tasks {:requires ([vault.core :as vault]
                    [vault.client.http]
                    [vault.secrets.kvv2 :as kvv2])
         :init (do
                 (def vault-addr (or (System/getenv "VAULT_ADDR") "http://localhost:8200"))
                 (def vault-token (or (System/getenv "VAULT_TOKEN")))
                 (def vault-auth (or (keyword (System/getenv "VAULT_AUTH")) :token))
                 (defn vault-credentials
                   "Return a crendentials object based on auth and token"
                   [auth token]
                   (case auth
                     :token token
                     :github {:token token})))
         ;; Helpers}
         vault-get {:doc "Get dev secrets from vault using github auth.
                             export VAULT_TOKEN=login token or github-personal-token
                             export VAULT_ADDR=....
                             export VAULT_AUTH=token or 'github'"
                    :task (do
                            (let [client (vault/new-client vault-addr)
                                  credentials (vault-credentials vault-auth vault-token)]
                              (vault/authenticate! client vault-auth credentials)
                              (println (kvv2/read-secret client "DocSearch" "stage/app"))))}}}

