{:linters
 {:consistent-alias
  {:level :warning
   :aliases {clojure.java.io io
             clojure.set set
             clojure.string str
             vault.client vault
             vault.client.handler h}}

  :unresolved-symbol
  {:exclude [(vault.integration/with-dev-server [client])]}}}
