{:linters
 {:consistent-alias
  {:level :warning
   :aliases {clojure.java.io io
             clojure.set set
             clojure.string str
             clojure.tools.logging log
             vault.auth auth
             vault.client vault
             vault.client.flow f
             vault.client.proto proto
             vault.lease lease
             vault.util u}}

  :unresolved-symbol
  {:exclude [(vault.integration/with-dev-server [client])]}}

 ;; Can only lint clj because kondo doesn't understand the :bb platform
 ;; https://github.com/clj-kondo/clj-kondo/issues/1154
 :cljc
 {:features #{:clj}}}
