{:linters
 {:consistent-alias
  {:level :warning
   :aliases {clojure.java.io io
             clojure.set set
             clojure.string str
             clojure.tools.logging log
             vault.client vault
             vault.client.flow f
             vault.client.proto proto
             vault.lease lease
             vault.util u}}

  :unresolved-symbol
  {:exclude [(vault.integration/with-dev-server [client])]}}}
