{:cljdoc/languages ["clj"]
 :cljdoc.doc/tree
 [["Readme" {:file "README.md"}]
  ["Control Flow" {:file "doc/control-flow.md"}]
  ["Local Development" {:file "doc/development.md"}]
  ["Upgrading from 1.x" {:file "doc/upgrading-1x.md"}]
  ["Changes" {:file "CHANGELOG.md"}]]}
