<configuration>
  <appender name="nop" class="ch.qos.logback.core.helpers.NOPAppender"/>

  <appender name="repl" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-32([%green(%replace(%thread){'^nREPL-session-.*','nREPL'})]) %highlight(%-5level) %cyan(%-30logger{30})  %msg%n</pattern>
    </encoder>
  </appender>

  <root level="WARN">
    <appender-ref ref="${vault.log.appender:-nop}"/>
  </root>

  <logger name="vault" level="DEBUG"/>
</configuration>
